@charset "utf-8";
/* CSS Document */
body{
	width: 100%;
	height: auto;
	position: fixed;
}

.form-container{
	width: 100%;
	height: 100%;
	position: absolute;
}

.container-left{
	width: 50%;
	height: auto;
	float: left;
	
}

.container-left input, .container-right input, .container-right textarea{
	margin: 10px;
}

.container-right{
	width: 50%;
	height: 50%;
	float: right;
}


.container-buttons{
	bottom: 0;
	height: 10%;
	
	float: none;
	right: 50px;
}

.container-buttons button{
	float: left;
}
#large-text-box{
	font-size: 14px;
	word-wrap: normal;
}




