@charset "utf-8";
/* CSS Document */



.header-container{
	width: auto;
	height: 35%;
	background-color: #292929;
	color: #999999;
	margin-top: -10px;
/*
	overflow-y: auto;
	overflow-x: auto;
*/
}

.data-table-container{
	width: auto;
	height: 55%;	
	margin-top: 10px;
	
/*
	min-width: 960px; 
	min-height: 350px;
*/
	background-color: #FFFFFF;
	
}

.table-buttons{
	width: 40%;
	zoom: 1.5;
}

.table-buttons li{
	width: 10%;
}

.data-table-table{
	height: 100%;
	overflow-y: auto;
	width: 100%;
	
}

.data-table-table table{
	
	width: 100%;
	background-color: #292929;
	color: #999999;
	
}



.data-table-table thead{
	
	background-color: #000;
	color: #FFF;
	width: auto;
	
	
	/*height: auto;*/
	
	
/*	overflow: auto;*/
}





/*
.data-table-table tbody{
	width: 100%;
	height: 100%; 
	overflow: auto;
	
}
*/



.data-table-table tbody .row:hover{
	color: #000000;
	background-color: #34A4C2;
}

.data-table-table table tr{
	height: 50px;
}

.data-table-table tbody .row{
	width: 100%;
	
}



.highlight{  
	background-color: #AFAFAF; 
	color: black;
}






 